@import './base.css';

.trips {
  background-color: white;;
}




table {
  border: 1px solid grey;
  width: 80vw;
}

thead {
  color: black;
  font-weight: bold;
}

tbody tr:first-of-type {

}

th {
  min-width: 30px;
  max-width: 100px;
  text-align: left;
}

td {
  /* border: 1px solid red; */
}
