@import './base.css';

.trips {
  border: 1px solid grey;

}




table {
  border: 10px solid grey;
}

tr {
  border: 10px solid green;

}
th {
  border: 1px solid blue;
}

td {
  border: 1px solid red;
}

.status {
  border-radius: 4px;
}

.status-unstarted {
  background: #6994DE;
}
.status-complete {
  background: #4CAF4F;
}
.status-overdue {
  background: #FF5252;
}
.status-in-progress {
  background: #FFA525;
}

